<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="roarm_m2">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import roarm_m2 urdf file -->
    <xacro:include filename="$(find roarm_description)/urdf/roarm_m2/roarm_m2.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="roarm_m2.ros2_control.xacro" />


    <xacro:roarm_m2_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
